DUMP_arduino_avr_uno_ArduinoIDE.tmp
post_processing_boards.txt
post_processing_platform.txt
pre_processing_boards.txt
pre_processing_platform.txt
.project/
.project
RemoteSystemsTempFiles/
.metadata/
/.metadata
.metadata/*
.recommenders
.recommenders/
.recommenders/*
libraries

## Actual Projects

rgb_ledstrip_*/arduino/
rgb_ledstrip_*/Release/
rgb_ledstrip_*/spec.d
rgb_ledstrip_*/.cproject
rgb_ledstrip_*/.project
rgb_ledstrip_*/.settings/
